<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%green(%date) %highlight(%-5level) %yellow([%-4relative]) %magenta([%thread]) %cyan(%logger{10}) %gray([%file:%line]) %blue(%msg%n)</pattern>
            <!--<pattern>%date %level [%-4relative] [%thread] %logger{10} [%file:%line] %msg%n</pattern>-->
        </encoder>
    </appender>

    <logger name="org.reflections" level="OFF"/>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>